<ion-tabs [environmentInjector]="environmentInjector">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="lista_habitaciones">
      <ion-icon aria-hidden="true" name="today-outline"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservar">
      <ion-icon aria-hidden="true" name="arrow-down-circle-outline"></ion-icon>
      <ion-label>Reservar habitación</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nueva_habitacion">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
      <ion-label>Añadir habitación</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
