<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Reservar habitación </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="reservationForm">
    <ion-grid>
      <ion-item-divider>
        <ion-label> Detalles del cliente </ion-label>
      </ion-item-divider>

      <ion-row>
        <ion-col size="4">
          <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-input label="Nombre" labelPlacement="floating" type="text" formControlName="cliente"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="4">
          <ion-item>
            <ion-icon name="call" slot="start"></ion-icon>
            <ion-input label="Telefono" labelPlacement="floating" type="tel" formControlName="celular"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="4">
          <ion-item>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-input label="Email" labelPlacement="floating" type="text" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item-divider>
        <ion-label> Fecha y hora del evento </ion-label>
      </ion-item-divider>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-icon name="calendar-number-outline" slot="start"></ion-icon>
            <ion-label>Fecha y Hora</ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime" displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD/MM/YYYY HH:mm"
                  (ionChange)="setFechaHora($event)" [isDateEnabled]="fechaDesocupada()" locale="es-MX"
                  #fecha></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item-divider>
        <ion-label> Servicio de la habitación </ion-label>
      </ion-item-divider>

      <ion-row>
        <ion-col size="3">
          <ion-item>
            <ion-icon name="ellipsis-vertical-outline" slot="start"></ion-icon>
            <ion-select interface="popover" placeholder="Habitaciones" label="Tipo de Habitación"
              labelPlacement="floating" formControlName="tipo">
              <ion-select-option value="Suite 115">
                Suite 115
              </ion-select-option>
              <ion-select-option value="Single 104">
                Single 104
              </ion-select-option>
              <ion-select-option value="Suite 116">
                Suite 11
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-item>
            <ion-icon name="bed-outline" slot="start"></ion-icon>
            <ion-select interface="popover" placeholder="Tipo de cama" label="Tipo de cama" labelPlacement="floating"
              formControlName="bedType">
              <ion-select-option value="Queen">
                Queen
              </ion-select-option>
              <ion-select-option value="King">
                King
              </ion-select-option>
              <ion-select-option value="Individual">
                Individual
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="2">
          <ion-item>
            <ion-icon name="beer-outline" slot="start"></ion-icon>
            <ion-label> Frigobar </ion-label>
            <ion-toggle formControlName="frigobar">
              Frigobar
            </ion-toggle>
          </ion-item>
        </ion-col>

        <ion-col size="1">
          <ion-item>
            <ion-icon name="id-card-outline" slot="start"></ion-icon>
            <ion-input label="Capacidad" labelPlacement="floating" type="text"
              formControlName="maxPersonas"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-item>
            <ion-icon name="filter-circle-outline" slot="start"></ion-icon>
            <ion-label> Habs filtradas </ion-label>
            <ion-toggle formControlName="frigobar">
              Habs filtradas
            </ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item-divider>
        <ion-label> Detalles de la habitación </ion-label>
      </ion-item-divider>

      <ion-row>
        <ion-col size="3">
          <ion-item>
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input label="Adultos" labelPlacement="floating" type="text" formControlName="adults"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-item>
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-input label="Niños" labelPlacement="floating" type="text" formControlName="children"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-item>
            <ion-icon name="bag-handle-outline" slot="start"></ion-icon>
            <ion-label> Toallas extra </ion-label>
            <ion-input label="Toallas extra" labelPlacement="floating" type="number" formControlName="extraTowels" min="0"
              max="10"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-item>
            <ion-icon name="eye-outline" slot="start"></ion-icon>
            <ion-label> Habilitar </ion-label>
            <ion-toggle formControlName="frigobar">
              controlDetales
            </ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item-divider>
        <ion-label> Metodos de pago </ion-label>
      </ion-item-divider>
      <ion-row>
        <ion-col size="6">
          <ion-item color="primary">
            <ion-icon name="ellipsis-vertical-outline" slot="start"></ion-icon>
            <ion-select interface="popover" placeholder="Método de pago" label="Método d epago"
              labelPlacement="floating" formControlName="paymentMethod">
              <ion-select-option value="Transferencia">
                Transferencia
              </ion-select-option>
              <ion-select-option value="Efectivo">
                Efectivo
              </ion-select-option> 
            </ion-select>
          </ion-item>
        </ion-col> 

        <ion-col size="3">
          <ion-item>
            <ion-icon class="filler" name="fast-food-outline" slot="start"></ion-icon>
            <ion-label> Buffet </ion-label>
            <ion-toggle formControlName="buffete"> Buffet </ion-toggle>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-item>
            <ion-label>Total a pagar</ion-label>
            <ion-icon name="cash" slot="start"></ion-icon>
            <ion-text color="success">
              <p>{{reservationForm.controls.total.value|currency}}</p>
            </ion-text>
          </ion-item>
        </ion-col> 
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" shape="round" color="success" [disabled]="!reservationForm.valid"
            (click)="confirmar()">
            <ion-icon name="card" slot="start"></ion-icon>
            Confirmar
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-item-divider>
          <ion-label>  </ion-label>
        </ion-item-divider>
      </ion-row>
      <ion-row>
        <ion-item-divider>
          <ion-label>  </ion-label>
        </ion-item-divider>
      </ion-row> 
    </ion-grid>
  </form>
</ion-content>